{
 :dir-data     "data"   ; org attachments/files to get copied into _site.
 :ignored-dirs ["priv"] ; Directories to ignore org files in.
 :site-url     ""       ; Root level url
 :site-title   ""       ; Used for RSS.
 :site-desc    ""       ; Used for RSS.
 :enable-rss?  true}    ; defaults to true; creating feed.xml in your _site.
