{:dir-data        "data"   ; org-attachments/files to get copied into _site.
 :enable-rss?     true     ; If true, creates a feed.xml in _site.
 :firn-properties false    ; whether to render properties under headings
 ;; :firn-toc     ...      ; TODO
 ;; :firn-fold    ...      ; TODO
 :ignored-dirs    ["priv"] ; Directories to ignore org files in.
 :site-desc       ""       ; Used for RSS.
 :site-title      ""       ; Used for RSS.
 :site-url        ""}
