name: Mac Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macOS-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: setup-graalvm-ce
      uses: rinx/setup-graalvm-ce@v0.0.1
      with:
        graalvm-version: "19.3.0"
        java-version: "java11"
    - name: setup-native-image
      run: |
        gu install native-image
    - name: run compile script
      run: |
        bin/compile
    - uses: actions/upload-artifact@v1
      with:
        name: firn-mac
        path: target/
